@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@import "tailwindcss";
.fustat {
  font-family: "Fustat", sans-serif;
}

.base{
  color: #537D5D;

}
.base_light{
  color: #A0C878;

}
.base_black{
  color: #0B0B0B;

}
